.logInBox {
  margin: 80px 30% 0 30%;
  width: 40%;
  min-width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginId,
.loginPassword {
  width: 50%;
  text-align: end;
  margin-right: 15%;
}

.inputBox input {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 0 6px 12px;
  width: 70%;
  height: 35px;
  box-sizing: border-box;
}

.button button {
  padding: 8px 16px;
  color: white;
  background-color: #16a3b8;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 8px 16px 0 0;
}

.error {
  color: red;
  font-weight: 700;
}
