.card {
  width: 70%;
  min-width: 900px;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  padding: 30px;
  margin: 0 15% 60px 15%;
}
