.inputBox {
  width: 45%;
  text-align: end;
}

.inputBox input,
.inputBox select {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 0 6px 12px;
  width: 70%;
  height: 35px;
  box-sizing: border-box;
}

.redStar {
  color: red;
  margin: 8px 12px 0 0;
}
