.title {
  background-color: #f7f7f8;
  border-radius: 3px;
  padding: 6px;
}

.salesInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.disabledInput input {
  background-color: #f7f7f7;
}

.btnBox {
  margin-top: 20px;
  text-align: center;
}

.btn {
  padding: 16px 32px;
  color: white;
  background-color: #16a3b8;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnRed {
  padding: 16px 32px;
  margin-right: 12px;
  color: white;
  background-color: #f06e6e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.rightText {
  text-align: end;
}
