.title {
  background-color: #f7f7f8;
  border-radius: 3px;
  padding: 6px;
}

.phoneUsim {
  display: flex;
  justify-content: space-between;
}

.phoneBox,
.usimBox {
  width: 45%;
}

.phoneInput,
.usimInput {
  width: 220%;
}

.salesInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
